.container{
     height: 100%;
    width: 100%;
   @include flexbox();
   @include flex-direction(column);
   > *{
       width: 100%;
   }
   .header{
     z-index: 100000;
     width: 100%;
     position: fixed;
     left: 0;
     top:0;
     display: none;
     height: 44px;
     background: #f8f8f8;
     .header_left{
       width: 0.66rem;
       height: 0.345rem;
       position: fixed;
       z-index: 1;
       left: 0.088rem;
       top:0.05rem;
       background-image: url(../../../images/home_logo.png);
       background-repeat: no-repeat;
       background-position: 50% 50%;
       background-size: 100%;
     }
     .header_search{
       text-align:  center;
       margin: 0 auto;
       a{
         border-radius: 5px;
         text-align: left;
         position: relative;
         display: block;
         height: 0.322rem;
         background-color: #fff;
         border: 0.01rem solid #dedede;
         margin: 0.044rem 0.506rem 0.069rem 0.92rem;
         line-height: 0.322rem;
         span{
           color: #BBB;
           font-size: 0.17rem;

         }
       }
     }
   }
   .back{
     width: 0.43rem;
     height: 0.43rem;
     border-radius: 50%;
     position: fixed;
     background: rgba(255,255,255,0.85);
     bottom: 0.44rem;
     right: 0.11rem;
     border: 0.01rem solid #eee;
     background-image: url(../../../images/gotop_b.png);
     background-size: 60%;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     display: none;
   }
   .box1{
     overflow: auto;;
     width: 100%;
    .box2{
      header{
        height: 44px;
        background: rgb(208,42,42);
        ul{
          box-shadow: 0 1px 5px black;
          width: 100%;
          height: 100%;
          @include flexbox();
          @include align-items(center);
          li{
            @include flex(1);
            padding: 0 0 0 0.15rem;
            @include justify-content(center);
            a{
              position: relative;;
              display: block;
              z-index: 10000000;
              width: 22%;
              line-height: 44px;
              img{
                height: 20px;
              }
            }
          }
          li:nth-child(2){
            color: white;
            font-size: 24px;
            font-family: "微软雅黑";
            padding: 0;
            text-align: center;
          }
          li:nth-child(3){
            @include flexbox();
            @include flex-direction(row-reverse);
          }
        }
      }
      section{
        @include flex(1);
        @include flexbox();
        width: 100%;
        height: 100%;
        // overflow: hidden;
        @include flex-direction(column);
        .loop{
          height: 1.7rem;
          @include flexbox();
          @include flex-direction(row);
          position: relative;
          width: 100%;
          ul{
            width: 100%;
            height: 100%;
            li{
              width: 100%;
              height: 100%;
              a{
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                z-index: 100000000000;
              }
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          .header-warp{
            width: 100%;
            bottom: 0;
            position: absolute;
            z-index: 10;
            height: 0.429rem;
            @include flexbox();

            a{
              margin: 0.044rem 0.528rem 0.066rem 0.11rem;
              width: 3.11rem;
              height: 0.301rem;
              border-radius: 3px;
              background: rgba(255,255,255,0.9);
              span{
                color: #BBB;
                line-height: 0.301rem;
              }
            }
          }
          .header-m{
            width: 0.4839rem;
            height: 0.3959rem;
            position: absolute;
            z-index: 10;
            right: 0;
            bottom: 0;
            a{
              width: 0.4839rem;
              height: 0.3959rem;
              display: block;
              padding: 0;
              text-align: center;
              i{
                font-size: 16px;
                color: #fff;
              }
              p{
                color: #fff;
                font-size: 12px;
                font-family: helvetica;
              }
            }
          }
        }
        .nav{
          position: relative;
          height: 1rem;
          background: #fff;
          ul{
            width: 100%;
            height: 100%;
            @include flexbox();
            @include justify-content(around);
            li{
              @include flex();
              padding: 0.11rem 0 0.066rem 0;
              a{
                text-align: center;
                i{
                  width: 0.528rem;
                  height: 0.528rem;
                  display: block;
                  border-radius: 50%;
                  margin: 0 auto 0.066rem auto;
                }
                p{
                  color: #555
                }
              }

            }
            li:nth-child(1) a{ i{
              background-color: #FB6E52;
              background-image: url(../../../images/browse_list_w.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: 50%;
            }
          }
          li:nth-child(2) a{ i{
            background-color: #48CFAE;
            background-image: url(../../../images/cart_w.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 50%;
          }
        }
        li:nth-child(3) a{ i{
          background-color: #4FC0E8;
          background-image: url(../../../images/member_w.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 50%;
        }
      }
      li:nth-child(4) a {
        i{
          background-color:#AC92ED;
          background-image: url(../../../images/mcc_04_w.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 50%;
        }
      }
    }
  }
  .zhekou{
    width: 100%;
    .zhekou_biaoti{
      border-left: solid 0.035rem #ED5564;
      height: 0.18rem;
      margin: 0.11rem 0 0.11rem 0.066rem;
      padding-left: 0.066rem;
      font-size: 0.14rem;
      line-height: 0.18rem;
    }
    .zhekou_list{
      width: 100%;
      position: relative;
      @include flexbox();
      @include justify-content(space-around);
      overflow: hidden;
      li{
        @include flexbox();
        margin-top: 0.11rem;
        position: relative;
        width: 47%;
        overflow: hidden;
        background-color: #fff;
        border-radius: 0.03rem;
        i{
          background: #f54246;
          position: absolute;
          width: 1.04rem;
          height: 0.42rem;
          font-family: Heiti, Heiti SC, DroidSans, DroidSansFallback, Arial, "Microsoft YaHei";
          font-size: 0.16rem;
          color: #fff;
          top:-0.1rem;
          right: -0.4rem;
          text-align: center;
          line-height: 0.62rem;
          overflow: hidden;
          transform: rotate(45deg);
        }
        a{
          display: block;
          width: 100%;
          img{
            width: 100%;
          }
          dl{
            padding: 0.044rem;
            dt{
              display: block;
              font-size: 0.14rem;
              line-height: 0.18rem;
              color: #000;
              height: 0.35rem;
            }
            dd{
              display: block;
              height: 0.32rem;
              font-size: 0.12rem;
              margin-top: 0.088rem;
              padding-top: 0.088rem;
              line-height: 0.32rem;
              border-top: solid 0.01rem #eee;
              color: #777;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
  .tuijian{
    width: 100%;
    .tuijian_biaoti{
      border-left: solid 0.035rem #ED5564;
      height: 0.18rem;
      margin: 0.11rem 0 0.11rem 0.066rem;
      padding-left: 0.066rem;
      font-size: 0.14rem;
      line-height: 0.18rem;
    }
    .list{
      width: 100%;
      .good_list{
        border-bottom: solid 0.01rem #eee;
        li{
          @include flexbox();
          background-color: #fff;
          border-bottom: solid 0.01rem #eee;
          span{
            width: 1.5rem;
            height: 1.18rem;
            padding: 0.083rem;
            display: block;
            a{
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          dl{
            display: block;
            width: 100%;
            height: 1.07rem;
            padding: 0.0836rem 0.0836rem 0 0;
            display: block;
            dt{
              height: 0.33rem;
              line-height: 0.176rem;
              a{
                font-size: 0.143rem;
                color: #111;
              }
            }
            .list_pinpai{
              display: block;
              height: 0.241rem;
              padding: 0.08rem 0;
              span{
                color: #666;
                display: inline;
                font-size: 0.143rem;
                padding: 0;
                line-height: 0.176rem;
              }
            }

            .list_price{
              display: block;
              height: 0.197rem;
              padding: 0.1rem 0;
              i{
                color: #666;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
  .bottom{
    margin-top: 0.15rem;
    width: 100%;
    background: #fff;
    .bottom_list{
      @include flexbox();
      @include justify-content(space-around);
      padding: 0.138rem 0;
      border-bottom: solid 0.01rem #eee;
      li{
        a{
          color: #555;
        }
      }
    }
    .bottom_banben{

      width: 100%;
      height: 0.70rem;
      padding: 0.069rem 0.46rem;
      ul{
        @include flexbox();
        @include justify-content(space-around);
        li{
          @include flex(1);
          text-align: center;
          a{
            span{
              width: 0.4rem;
              height: 0.4rem;
              display: block;
              border-radius: 50%;
              border: solid 0.01rem #ccc;
              margin: 0 auto;

            }
            p{
              color:#000;

            }
          }
        }
        li:nth-child(1) span{
            background: url(../../../images/foot_app.png);
            background-position: 50% 50%;
            background-size: 80%;
            background-repeat: no-repeat;
        }
        li:nth-child(2) span{
          background: url(../../../images/foot_touch.png);
          background-position: 50% 50%;
          background-size: 80%;
          background-repeat: no-repeat;
        }
        li:nth-child(3) span{
          background: url(../../../images/foot_pc.png);
          background-position: 50% 50%;
          background-size: 80%;
          background-repeat: no-repeat;
        }
      }
    }
  }
      }
    }
   }
@extend %footer
}
