body{
    @extend %header;
    background: #F5F5F5;
    #container{
        width: 100%;
        @keyframes fade{
            0% {
            opacity: 0; /*初始状态 透明度为0*/
            }
            50% {
            opacity: 0.5; /*中间状态 透明度为0*/
            }
            100% {
            opacity: 1; /*结尾状态 透明度为1*/
            }
        }
          #errorInfo{
              visibility: hidden;
              width: 2rem;
              height: .4rem;
              background: rgba(#000,0.5);
              border-radius: .05rem;
              text-align: center;
              line-height: .4rem;
              color: #fff;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              animation-name: fade;
              animation-duration: 3s;
          }
      ul{
          li{
              @include flexbox();
              height: 0.42rem;
              width: 100%;
              background: #fff;
              border-bottom: 0.5px solid #f4f4f4;
              span{
                  @include flex(2);
                  text-align: center;
                  line-height: 0.42rem;
              }
              .inputbox{
                  height: 100%;
                  border: 0;
                  @include flex(8);
                  @include flexbox();
                  input{
                      border: 0;
                      height: 100%;
                      @include flex(6.5); 
                    
                  }
                  span{
                      @include flex(1);
                      visibility: hidden; 
                  }
              }
          }
      }
      #loginsetting{
          @include flexbox();
          margin: 0.3rem 0 0.3rem 0;
          p{
               @include flex(1);
               padding-left: 40px;
          } 
          a{
              @include flex(1);
              text-align: right;
              padding-right: 40px;
          }
      }
      
      #loginBtn{
          height: 0.4rem;
          background: #ED5564;
          border: 0;
          width: 90%;
          margin: 0 5% 0 5%;
          border-radius: 0.05rem;
          font-size: 0.16rem;
          color: #fff;
          font-weight: bold;
          
      } 
    }
}


