@font-face {font-family: 'iconfont';
    src:url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont{
    font-family: iconfont;
}

%footer{
footer {
    height: 44px;
    background: #eee;
    width: 100%;
    ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      border-top: solid 0.5px rgb(220,220,220);
      li {
        @include flex(1);
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        b, i {
          font-weight: normal;
          font-size: 12px;
          color: rgb(153,153,153);
        }
        i {
          font-size: 18px;
        }

        }
      }
    }
//<<<<<<< HEAD

}
//=======
// <<<<<<< HEAD


// =======
//}
//}
// >>>>>>> master

%header{
    #header{
        #header-wrap{
            height: 0.44rem;
            background: #F8F8F8;
            @include flexbox();
            text-align: center;
            line-height: 0.44rem;
        #header-left{
            width: 0.44rem;
            font-size: 0.16rem;
        }
        #header-title{
            @include flex(1);
            font-size: 0.18rem;
            font-weight: bold;
        }
        #header-right{
            width: 0.44rem;
            font-size: 0.16rem;
        }
        }
    }
}
//>>>>>>> fengyuchao
